# Ignore Gradle build output directory
build/
bin/

# Ignore the galimulator jar - which we are not allowed to distribute
galimulator-desktop.jar

#Ignore hidden folders and files, they usually are for settings and other temporary stuff, so they are not needed
.*

# Ignore maven build output directory
target/

# File produced by the maven-shade-plugin
dependency-reduced-pom.xml

classes
mods
